* {
  margin: 0;
  padding: 0;
}

nav,
section {
  padding: 5rem 5rem 0rem 5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

input {
  border: solid black 0.1px;
  padding: 0.5rem 0.5rem;
  width: 20rem;
}

button {
  background-color: slategrey;
  padding: 0.5rem 2rem;
}

button:hover {
  cursor: pointer;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
}

.movie-poster {
  width: 20rem;
}
