* {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

nav,
section {
  padding: 5rem 5rem 0rem 5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

li {
  list-style: none;
}

input {
  border: solid black 0.1px;
  padding: 0.5rem 0.5rem;
  width: 20rem;
}

button {
  background-color: slategrey;
  padding: 0.5rem 2rem;
}

button:hover {
  cursor: pointer;
}

.movie-type {
  margin: 4rem 0rem;
  font-size: 3rem;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.movie-poster {
  width: 15rem;
}

.movie:hover {
  cursor: pointer;
}

.movie {
  padding: 1rem;
  border-radius: 10px;
  box-shadow: slategray;
}

.movie p {
  font-size: 1.3rem;
  margin-bottom: 1rem;
}
